html{
    background-color: black;
  color: white;
  font-size: 62.5%;
  font-family: "Poppins";
  margin: 0;
}
.dashboard_main{
    display: flex;
    justify-content: space-between;
    margin-left: 5vh;
    margin-right: 5vh;
    font-size: 2rem;
    margin-top: 10rem;
}
.dashboard_left{
 float: right;
 width: 55%;
 display: grid; 
 place-content: center;
}
.dashboard_right{
    float: left;
    width: 40%;
    display: grid;
    place-content: center;
    grid-template-columns: 30rem;
    text-align: center;
}
.dashboard_right button{
    height: 25%;
    width: 63%;
    margin-top: 20px;
    font-size: large;
    border-style: none;
    border-radius: 5px;
    background-color: #0455BF;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
}
.your_basket img{
    position: relative;
    z-index: -1;
}
.lock {
    margin: auto;
    margin-top: 0px;
    width: 40%;
    height: 63%;
    padding: 10px;
    display: block;
    justify-content: center;
    background-color: black;
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding-top: 55px;
}
.lock img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
}
.lock p{
    text-align: center;
}
.lock button{
    font-size: 4rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.lock button {
    font-size: 4rem;
    display: block;
    margin: 0 auto;
    background-color: #0455BF;
    border-style: none;
    color: white;
    padding: 1rem 12rem 1rem 12rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
